.popup {
  background-color: rgba(0, 0, 0, 50%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
