.popup__input {
  width: 358px;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  margin-bottom: 30px;
  padding-bottom: 7px;
}
.popup__input:last-of-type {
  margin-bottom: 48px;
}
.popup__input:focus {
  outline-color: #034dfc
}

@media (max-width: 550px){
  .popup__input  {
    font-size: 14px;
    width: 238px;
  }
}
