.popup__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 430px;
  height: 330px;
}

@media (max-width: 550px){
  .popup__content {
    width: 282px;
    height: 322px;
  }
}
