.element__title {
  margin: 0;
  padding: 0;
  background-color: #fff;
  height: 79px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}
