@import url(../vendor/normalize.css);
/*подключение normalize.css*/
@import url(../vendor/fonts/fonts.css);
/*подключение шрифтов локально*/
@import url(../blocks/page/page.css);
/*подключение глобальных стилей для страницы*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
/*стили для блока header*/
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/profile/__info-container/profile__info-container.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__add-image/profile__add-image.css);
/*стили для блока profile*/
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__remove-button/element__remove-button.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__like-button/element__like-button.css);
@import url(../blocks/element/__like-button/_active/element__like-image_active.css);
@import url(../blocks/element/__caption/element__caption.css);
/*стили для блока elements*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__title/footer__title.css);
/*стили для блока footer*/
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/_scale-image/popup_scale-image.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__input/_type/popup__input_type_error.css);
@import url(../blocks/popup/__error/popup__error.css);
@import url(../blocks/popup/__save-button/popup__save-button.css);
@import url(../blocks/popup/__save-button/_disabled/popup__save-button_disabled.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__figure/popup__figure.css);
@import url(../blocks/popup/__caption/popup__caption.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__content-scale-image/popup__content-scale-image.css);
@import url(../blocks/popup/__close-button/_image/popup__close-button_image.css);
/*стили для блока popup*/
