.popup__save-button {
  background-color: #000;
  color: #fff;
  width: 358px;
  padding: 14px 0 14px;
  cursor: pointer;
  transition: opacity 0.1s ease;
}
.popup__save-button:hover {
  opacity: 80%;
}

@media (max-width: 550px){
  .popup__save-button {
    font-size: 14px;
    width: 238px;
  }
}
