.element__like-button {
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: none;
  transition: 0.1s ease;
  cursor: pointer;
  text-align: center;
}

.element__like-button:hover {
  opacity: 50%;
}
